{:paths   ["src"]
 :deps    {org.clojure/clojure {:mvn/version "1.11.1"}
           shams/priority-queue {:mvn/version "0.1.2"}}
 :aliases {:clj-async-profiler {:extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.5.1"}}
                                :jvm-opts   ["-Djdk.attach.allowAttachSelf" "-XX:+UnlockDiagnosticVMOptions" "-XX:+DebugNonSafepoints"]}
           :jmh                {:extra-deps  {jmh-clojure/task {:mvn/version "0.1.1"}}
                                :extra-paths ["classes"]
                                :ns-default  jmh.task
                                :exec-fn     jmh.task/run}
           :env/test           {:extra-paths ["test"]
                                :extra-deps  {com.gfredericks/test.chuck {:mvn/version "0.2.13"}
                                              org.clojure/test.check     {:mvn/version "1.1.1"}
                                              com.hyperfiddle/rcf        {:mvn/version "20220405"}}
                                :jvm-opts ["-Dhyperfiddle.rcf.enabled=true" "-Dhyperfiddle.rcf.generate-tests=true"]}}}
